<<<<<<< HEAD
@use '../shared/variables';
@use '../media-queries';

.pricing {
    padding: var(--spacing-section-padding);
    padding-bottom: 10vw;
    background-color: var(--color-bg-light);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.pricing__content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    @include media-queries.tablet(){
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}
.pricing__container {
    @include media-queries.tablet(){
        gap: clamp(3rem, 6vw, 4rem);
    }
}

.pricing__features {
    width: 100%;
    margin: var(--spacing-gap-large) 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-gap-small);
    @include media-queries.tablet(){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
    }
    @include media-queries.desktop(){
        width: 30%;
        display: flex;
    }
}
.pricing__feature {
    font-size: var(--font-size-body);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    max-width: 21.8125rem;
    color: var(--color-body-text);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}
.pricing__topper {
    font-size: var(--font-size-topper);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 0.25rem;
    display: block;
}
.pricing__wrapper {
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-queries.desktop(){
        flex-direction: row;
        gap: 1.25rem;
    }
}
.pricing__graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    position: absolute;
    bottom: -1rem;
    left: 0;
    z-index: -1;
}
=======
@use '../shared/variables' as *;
@use '../shared/functions' as *;
@use '../shared/mixins' as *;
@use '../layout/layout' as *;

.pricing {
  padding: $spacing-section-padding;
  padding-bottom: 10vw;
  background-color: $color-bg-light;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &__container {
    @extend .container;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    font-size: $font-size-header;
    font-weight: 900;
    color: $color-text-dark;
  }

  &__topper {
    @include responsive-font($font-size-topper);
    text-transform: uppercase;
    color: $color-primary;
    margin-bottom: rem(4px);
  }

  &__plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $spacing-gap-large;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__plan {
    background-color: #fff;
    padding: $spacing-card-padding;
    margin-bottom: $spacing-gap-large;
    text-align: center;

    &--popular {
      background-color: $color-text-dark;
      padding: rem(48px) $spacing-card-padding;
      color: $color-text-light;
    }

    &__title {
      font-size: $font-size-header;
      font-weight: 700;
    }

    &__price {
      font-size: $font-size-header;
      font-weight: 900;
      color: $color-text-dark;
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: $spacing-gap-small;
  }
}
>>>>>>> 04f919f075bc484d36e0802c89010b1014d14b81
