@import 'variables';

.pricing {
    padding: var(--spacing-section-padding);
    padding-bottom: 10vw;
    background-color: var(--color-bg-light);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
