<<<<<<< HEAD
@use './variables';
=======
>>>>>>> 04f919f075bc484d36e0802c89010b1014d14b81
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
