<<<<<<< HEAD
$size-screen:(
    table: 48rem,
    desktop:64rem
);

/* Tablet - 768px */
@mixin tablet {
    @media only screen and (min-width: map-get($size-screen, table)) {
        @content
        
    
    }
    
};

/* Small Desktop - 1024px */
@mixin desktop{
    @media only screen and (min-width: map-get($size-screen, desktop)) {
        @content
    }
}

=======
@import 'variables';
@import 'pricing';

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    .pricing__container {
        gap: clamp(3rem, 6vw, 4rem);
    }

}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .pricing__features {
        width: 30%;
        display: flex;
    }

}
>>>>>>> 04f919f075bc484d36e0802c89010b1014d14b81
