<<<<<<< HEAD
// make your imports here
@use './components/card';
@use './shared/base';
@use './components/pricing';
@use './components/buttons'
=======
@use 'index' ;

body {
  font-family: index.$font-family;
  margin: 0;
  padding: 0;
  background-color: index.$color-bg-light;
}

.pricing {
  @include index.flex-center;
}
>>>>>>> 04f919f075bc484d36e0802c89010b1014d14b81
